@import url(/header.css);
@import url(/desktop.css);
@import url(/modals.css);
@import url(/forms.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

nav, div, span, p, h1, h2, h3, h4, h5, h6 {
  user-select: none;
  cursor: default;
}

:root {
  --font-size: 16px;
  --header-height: 4.5em;
  --logo-height: 4.1em;
  --padding-logo: 0.2em 0;
  --font-1: Verdana, sans-serif;
  --font-2: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --font-3: 'Times New Roman', Times;
  
  --color-header: rgb(0, 0, 0, 0.7);
  --color-main: rgba(0, 140, 190, 0.7);
  --color-text: rgb(21, 21, 21);
  --color-1: rgb(252, 250, 252);
  --color-2: rgb(177, 121, 91);
  --color-3: rgb(60, 60, 60);
  --color-4: rgb(0, 255, 255);
  --color-5: rgb(240, 155, 0);
  --color-6: rgb(177, 121, 91);
  --color-7: rgb(0, 125, 150);
  --color-trans-1: rgba(219, 219, 222, 0.4);
  --color-trans-2: rgba(0, 125, 150, 0.4);
  --color-trans-3: rgb(45, 45, 45, 0.4);
  --color-trans-4: linear-gradient(90deg, rgba(0, 125, 150, 0.1), var(--color-1));
  --color-trans-5: linear-gradient(90deg, rgba(0, 125, 150), rgba(0, 125, 150, 0.4));
  --color-yes: rgb(32, 162, 36);
  --color-no: rgb(238, 26, 26);
  --color-end: rgb(255, 196, 0);
  --color-viw: rgb(102, 176, 254);
  --color-valid: rgba(0, 120, 4, 0.4);
  --color-pending: rgba(255, 196, 0, 0.4);
  --color-invalid: rgba(255, 0, 0, 0.4);

  --footer-height: 3.7em;
  --main-height: calc(100vh - var(--header-height) - var(--footer-height));
  --main-section-items-gap: 1em;
  --width-main: 100%;
  --margin-left-main: 0;
}

@media (min-width: 320px) and (max-width: 480px) and (min-height: 480px) and (max-height: 568px) {
  :root {
    --font-size: 16px;
    --header-height: 4.5em;
    --logo-height: 4.1em;
    --padding-logo: 0.2em 0;

  }
}

@media (min-width: 321px) and (max-width: 768px) and (min-height: 568px) and (max-height: 940px) {
  :root {
    --font-size: 18px;
    --header-height: 5.5em;
    --logo-height: 4.9em;
    --padding-logo: 0.3em 0;
  }
}

@media (min-width: 375px) and (max-width: 1024px) and (min-height: 941px) and (max-height: 1370px) {
  :root {
    --font-size: 20px;
    --header-height: 6.5em;
    --logo-height: 5.5em;
    --padding-logo: 0.5em 0;
  }
}

html {
  font-size: var(--font-size);
  height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.body-mobile {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: var(--font-1);
  font-size: var(--font-size);
  background-color: var(--color-1);
  color: var(--color-3);
}

.body-desktop {
  display: none;
}

.scroll-indicator {
  position: fixed;
  top: var(--header-height);
  right: 0.1em;
  height: var(--main-height);
  width: 0.5em;
  background: transparent;
  z-index: 1000;
  border-radius: 1em;
}

.scroll-progress {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  background: var(--color-trans-2);
  transition: height 0.3s ease-out;
  border-radius: 1em;
}

.banner-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: var(--color-1);
  z-index: 1002;
}

.banner-header::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, var(--color-5), var(--color-2));
  box-shadow: 0 0 10px var(--color-5), 0 0 20px var(--color-2);
  border-radius: 5px;
  animation: glow 1.5s infinite alternate;
  z-index: 1004;
}

.banner-header::before {
  content: "";
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 20px;
  background: var(--color-5);
  box-shadow: 0 0 15px var(--color-5), 0 0 30px var(--color-1);
  border-radius: 50%;
  animation: move-glow 3s infinite alternate;
  z-index: 1004;
}

.header-logo {
  width: 100%;
  padding: var(--padding-logo);
}

.logo img {
  width: auto;
  height: var(--logo-height);
  margin: 0 auto;
  display: block;
  object-fit: contain;
}

@keyframes move-glow {
  0% {
    left: 0;
  }
  100% {
    left: calc(100% - 20px);
  }
}

@keyframes glow {
  0% {
    box-shadow: 0 0 10px var(--color-5), 0 0 20px var(--color-2);
  }
  50% {
    box-shadow: 0 0 20px var(--color-5), 0 0 40px var(--color-2);
  }
  100% {
    box-shadow: 0 0 10px var(--color-5), 0 0 20px var(--color-2);
  }
}

.main-mobile {
  position: fixed;
  top: var(--header-height);
  bottom: var(--footer-height);
  width: var(--width-main);
  margin-left: var(--margin-left-main);
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  background-color: var(--color-1);
  overflow-y: auto;
}

.section {
  width: 100%;
  height: var(--main-height);
  scroll-snap-align: start;
  box-sizing: border-box;
  padding: 0 0 0 0;
  background-color: var(--color-1);
}

.section-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 1em;
  width: 100%;
  margin: 0 auto;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s, transform 0.5s;
  background-color: var(--color-1);
}

.section-content.visible {
  opacity: 1;
  transform: translateY(0);
}

:focus {
  outline: 2px solid var(--color-2);
  outline-offset: 2px;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  background-image: url("../img/hero.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: -1;
  pointer-events: none;
}

.banner h1 {
  background-color: var(--color-trans-1);
  padding: 1em;
  margin-top: 1em;
  font-family: var(--font-3);
  font-weight: 600;
  font-size: 1.5em;
  color: var(--color-text);
  text-align: center;
}

.banner1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  background-image: url("../img/curso-banner.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /*opacity: 0.6;*/
  z-index: -1;
  pointer-events: none;
}

.banner1 h1 {
  background-color: var(--color-trans-1);
  padding: 1em;
  margin-top: 1em;
  font-family: var(--font-3);
  font-weight: 600;
  font-size: 1.5em;
  color: var(--color-text);
  text-align: center;
}

.banner2 {
  width: 100%;
  height: 100%;
  background-image: url("../img/curso-banner.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  opacity: 0.7;
  z-index: -1;
  pointer-events: none;
}

.scroll-prompt {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: var(--font-1);
  font-weight: 600;
  font-size: 1em;
  color: var(--color-text);
  animation: bounce 3s infinite;
  cursor: pointer;
  text-align: center;
  margin-bottom: 2em;
  background-color: var(--color-trans-1);
  padding: 0.5em 1em;
  border-radius: 1em;
}

.scroll-prompt:hover, .scroll-prompt:active {
  color: var(--color-6);
}

/* video mobile */

.video-mobile {
  position: relative;
  width: 100%;
  height: 190px;
  border-radius: 1em;
  margin-bottom: var(--main-section-items-gap);
  overflow: hidden;
  display: flex;
}

.video-mobile iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.car-container {
  overflow: hidden;
  position: relative;
  margin: 0;
}

.car {
  display: flex;
  gap: 1em;
  scroll-snap-type: x mandatory;
  overflow-x: auto;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  padding-bottom: 2em;
}

.car-slide {
  min-width: 80%;
  max-width: 80%;
  flex: 0 0 auto;
  scroll-snap-align: center;
  background: var(--color-3);
  border-radius: 1em;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
  text-align: center;
  padding: 1em;
  cursor: pointer;
}

.car-slide-h4 {
  font-family: var(--font-3);
  font-weight: 500;
  font-size: 1.2em;
  color: var(--color-1);
  margin-bottom: 0.5em;
}

.car-slide img {
  width: 90%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 0.5rem;
}

.car-slide-h5 {
  font-family: var(--font-3);
  font-weight: 400;
  font-size: 1em;
  color: var(--color-1);
}

.scheduling {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.scheduling button {
  background-color: var(--color-2);
  color: var(--color-1);
  font-family: var(--font-2);
  font-size: 1em;
  font-weight: 600;
  padding: 0.25em 0.5em;
  border: 0.1em solid transparent;
  border-radius: 0.5em;
  cursor: pointer;
  width: 60%;
  transition: transform 0.3s;
}

.scheduling button:hover {
  background-color: var(--color-3);
  transform: scale(1.1);
  color: var(--color-1);
}
.scheduling button:active {
  background-color: var(--color-3);
  transform: scale(1.2);
  color: var(--color-5);
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
  40% {transform: translateY(-1em);}
  60% {transform: translateY(-0.5em);}
}

.carousel-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.carousel-modal img {
  width: 80%;
  border-radius: 1em;
}

.carousel-modal label {
  font-family: var(--font-3);
  font-weight: 500;
  font-size: 1em;
  color: var(--color-3);
}

.procedures {
  display: flex;
  flex-direction: column;
  gap: var(--main-section-items-gap);
}

.procedures h2 {
  font-family: var(--font-3);
  font-weight: 600;
  font-size: 1.4em;
  color: var(--color-3);
  text-align: center;
  border-left: 4px solid var(--color-3);
  border-right: 4px solid var(--color-3);
  padding: 0 1em;
}

.procedures P {
  font-family: var(--font-3);
  font-weight: 500;
  font-size: 1.2em;
  color: var(--color-3);
  text-align: center;
  line-height: 1.4em;
}

.procedures-list {
  display: flex;
  flex-wrap: nowrap;
  gap: 1em;
  width: 40%;
}

.procedure-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  background: var(--color-3);
  border-radius: 0.75em;
  padding: 0.5em;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
  transition: transform 0.3s;
}

.procedure-card:hover {
  transform: scale(1.02);
}

.procedure-card h4 {
  font-family: var(--font-3);
  font-weight: 500;
  font-size: 1.2em;
  text-align: center;
  padding: 0.5em;
  color: var(--color-1);
}

.procedure-card p {
  font-family: var(--font-3);
  font-weight: 400;
  font-size: 0.6em;
  padding: 0.25em;
  color: var(--color-1);
}

.see-more {
  background-color: var(--color-5);
  color: var(--color-3);
  border: none;
  padding: 1em 0.5em;
  border-radius: 0.7em;
  cursor: pointer;
  font-size: 0.8em;
  transition: background-color 0.3s;
}

.see-more:hover {
  background-color: #e09ac3;
}

.training-section {
  background: var(--color-1);
  width: 100%;
}

.training h1 {
  font-family: var(--font-2);
  font-weight: 700;
  font-size: 1.1em;
  text-align: center;
  color: #c05d9f;
  margin-bottom: 1em;
}

.training-topics {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  width: 100%;
}

.topic-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  width: 100%;
  background: var(--color-3);
  padding: 0.5em;
  border-radius: 0.7em;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
}

.topic-card h4 {
  font-family: var(--font-3);
  font-weight: 500;
  font-size: 1em;
  color: var(--color-1);
}

.topic-card p {
  font-family: var(--font-2);
  font-size: 0.8em;
  font-weight: 300;
  color: var(--color-1);
}

.training-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.training-banner img {
  width: 100%;
  height: 100%;
}

.location-section {
  background: var(--color-1);
  width: 100%;
}

.map-container {
  border-radius: 1em;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
  margin-bottom: 1em;
}

.appointment-button {
  padding: 0.5em 1em;
  background-color: var(--color-6);
  color: var(--color-1);
  border: none;
  border-radius: 0.7em;
  cursor: pointer;
}

.horario-ocupado {
  padding: 0.5em;
  color: var(--color-3);
  font-style: italic;
}

.footer-mobile {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3.7em;
  z-index: 1000;
}

.footer-animation {
  position: relative;
  background-color: var(--color-3);
}

.footer-animation::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, var(--color-5), var(--color-2));
  box-shadow: 0 0 10px var(--color-5), 0 0 20px var(--color-2);
  border-radius: 5px;
  animation: glow 1.5s infinite alternate;
}

.footer-animation::before {
  content: "";
  position: absolute;
  top: 0;
  height: 2px;
  width: 20px;
  background: var(--color-2);
  box-shadow: 0 0 15px var(--color-2), 0 0 30px var(--color-1);
  border-radius: 50%;
  animation: move-glow 3s infinite alternate;
}

.footer-mobile-btn {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  padding: 1em;
}

.footer-mobile-btn a {
  font-size: 1.5em;
  color: var(--color-1);
  cursor: pointer;
  transition: transform 0.3s;
}

.footer-mobile-btn a:hover {
  transform: scale(1.4);
}

.footer-mobile-btn a:active {
  transform: scale(1.4);
  color: var(--color-3);
}

.footer-tablet {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.7em;
  text-align: center;
  padding: 0.7em;
}

.footer-tablet p {
  font-family: var(--font-1);
  font-weight: 500;
  font-size: 0.8em;
  color: var(--color-1);
}

.footer-tablet h6 {
  font-family: var(--font-1);
  font-weight: 400;
  font-size: 0.7em;
  color: var(--color-1);
}

.social-media {
  display: none;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  margin-left: 25%;
  margin-bottom: var(--main-section-items-gap);
}

.social-media a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  cursor: pointer;
  transition: transform 0.3s;
}

.social-media a:hover {
  transform: scale(1.2);
}
.social-media a:active {
  transform: scale(1.3);
}

#commerce-mobile {
  font-family: var(--font-2);
  font-weight: 500;
  font-size: 0.9em;
  color: var(--color-1);
  text-align: center;
  text-decoration: none;
  padding: 0.5em 0;
  background-color: var(--color-6);
  border-radius: 1em;
  box-shadow: 0 0 0.25em var(--color-2), 0 0 1em var(--color-2);
  margin-bottom: var(--main-section-items-gap);
  transition: all 0.3s;
}

#commerce-mobile:hover, #commerce-mobile:active {
  background-color: var(--color-3);
  color: var(--color-1);
  transform: scale(1.04);
}

.tablet-menu {
  position: fixed;
  bottom: 4.5em;
  right: 1em;
  width: 10%;
  z-index: 1000;
  display: none;
}

.tablet-menu a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  cursor: pointer;
  transition: transform 0.3s;
}

.tablet-menu a:hover {
  transform: scale(1.2);
}
.tablet-menu a:active {
  transform: scale(1.3);
}

.tablet-menu img {
  background-color: var(--color-1);
  border-radius: 50%;
  border: 1px solid var(--color-1);
  width: 100%;
}

@media (min-height: 520px) and (max-height: 568px) {

  :root {
    --main-section-items-gap: 1.25em;
  }

}

@media (min-height: 569px) and (max-height: 667px){
  
  :root {
    --main-section-items-gap: 1.5em;
  }

}

@media (min-height: 668px) and (max-height: 768px){
  
  :root {
    --main-section-items-gap: 1.75em;
  }

}

@media (min-height: 769px) and (max-height: 820px){
  
  :root {
    --main-section-items-gap: 2.0em;
  }

}

@media (min-height: 821px) and (max-height: 980px){
  
  :root {
    --main-section-items-gap: 2.25em;
  }

}

@media (min-height: 981px) and (max-height: 1370px){
  
  :root {
    --main-section-items-gap: 2.5em;
  }

}


@media (min-width: 667px) {

  
}

@media (min-width: 480px) {

  .footer-mobile-btn {
    display: none;
  }
  
  .footer-tablet {
    display: flex;
  }

  .social-media {
    display: flex;
  }

  .tablet-menu {
    display: block;
  }

}

@media (min-width: 481px) and (max-width: 540px) {

  :root {
    --width-main: 90%;
    --margin-left-main: 5%;
  }

}

@media (min-width: 541px) and (max-width: 610px) {
  
  :root {
    --width-main: 90%;
    --margin-left-main: 5%;
  }

  .footer-tablet {
    gap: 0.6em;
    padding: 0.7em;
  }
  
  .footer-tablet p {
    font-size: 0.9em;
  }
  
  .footer-tablet h6 {
    font-size: 0.8em;
  }
}

@media (min-width: 611px) and (max-width: 890px) {
  
  :root {
    --width-main: 80%;
    --margin-left-main: 10%;
  }

  .footer-tablet {
    gap: 0.6em;
    padding: 0.7em;
  }
  
  .footer-tablet p {
    font-size: 0.9em;
  }
  
  .footer-tablet h6 {
    font-size: 0.8em;
  }

  .contact-card img {
    width: 80%;
    padding: 1em 10%;
  }
}


@media (min-width: 891px) and (max-width: 1024px) {
  
  :root {
    --width-main: 70%;
    --margin-left-main: 15%;
  }

  .footer-tablet {
    gap: 0.6em;
    padding: 0.7em;
  }
  
  .footer-tablet p {
    font-size: 0.9em;
  }
  
  .footer-tablet h6 {
    font-size: 0.8em;
  }

}

@media (min-width: 1025px) {
  
  .body-mobile {
    display: none;
  }

  .main-mobile {
    display: none;
  }

  .footer-mobile {
    display: none;
  }

  .body-desktop {
    display: flex;
  }

}
